body{
   background-color:hsl(212, 45%, 89%);
   font-size:15px;
   font-family:'Outfit', sans-serif;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-content: center;
   height:100vh;
}

.card{
    background-color:hsl(0, 0%, 100%);
    border-radius: 2em;
    padding:1em 1em 2em 1em;
    text-align: center;
    margin:3em auto;
    height: 55vh;
    max-width: 35vh;
}
img{
    width: 100%;
    border-radius: 2em;
}
h1{
    font-size:1.5rem;
}
